.header-container {
    height: 150px;
    margin-bottom: 40px;
}

.header-row {
    margin-bottom: 15px;
}

.logo-svg {
    user-select: none;
}

.calendar-date-container {
    user-select: none;
    padding: 7px;
    width: 95px;
    height: 95px;
    background-color : lightgray;
}

.coffee-text {
    color: #555;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.3;
    
    &.center {
        text-align: center;
    }

    &.coffee-title {
        user-select: none;
        margin-top: 5px;
        font-size: 56px;
    }
    
    &.coffee-button-text {
        color: whitesmoke;
        font-size: 40px;
        font-weight: 300;
    }
}

.create-order-button {
    user-select: none;
    cursor: pointer;
    background-color: #00A1DF;
    padding: 8px 28px;
    margin-top: 15px;

    &:hover {
        background-color: #0088CC;
        transition: background-color 0.5s;
    }
}